@media only screen and (max-width: 768px) {


}




.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

body {
    background-color: #d5e1ef;
}

section {
    background-color: white;
    padding: 8px;
    display: flex;
    flex-direction: column;

}

.QRcodeImg {
    background-image: url(images\image-qr-code.png);
}